[Unit]
Description=Time-tracking
After=graphical.target

[Service]
ExecStart=%h/.scripts/aw_start.sh
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=default.target
