[Unit]
Description=AWatcher
After=network-online.target
Wants=network.target

[Service]
Environment=DISPLAY=:0
ExecStartPre=/usr/bin/sleep 5
ExecStart=%h/.nix-profile/bin/aw-server
Restart=always
RestartSec=5
RestartSteps=2
RestartMaxDelaySec=15
Restart=on-failure
TimeoutStartSec=120

[Install]
WantedBy=default.target
