[Unit]
Description=AWatcher
After=aw-server.service graphical-session.target
Requires=aw-server.service

[Service]
Environment=DISPLAY=:0
ExecStartPre=/usr/bin/sleep 5
ExecStart=%h/.nix-profile/bin/aw-watcher-afk
Restart=always
RestartSec=5
RestartSteps=2
RestartMaxDelaySec=15
Restart=on-failure
TimeoutStartSec=120

[Install]
WantedBy=graphical-session.target
