[Unit]
Description=MegaSync Encrypted Cloud
Wants=network-online.target
After=graphical.target network-online.target

[Service]
Environment=DISPLAY=:0
ExecStart=%h/.nix-profile/bin/megasync
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=default.target
