[Unit]
Description=Udiskie automount daemon
After=graphical.target

[Service]
User=user
Group=plugdev
ExecStart=%h/.nix-profile/bin/udiskie --verbose --automount --no-config --notify --tray --appindicator

Restart=on-failure
RestartSec=3s

[Install]
WantedBy=graphical-session.target
