[Unit]
Description=Automatic Screen Locker
After=network-online.target
Wants=network.target

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Environment=DISPLAY=:0
ExecStart=%h/.nix-profile/bin/xidlehook \
                  --not-when-fullscreen \
                  --not-when-audio \
                  --timer 60 \
                    '%h/.i3/brightness.sh 9' \
                    '%h/.i3/brightness.sh 84' \
                  --timer 300 \
                    '%h/.i3/brightness.sh 84; /usr/bin/i3lock-fancy -gpf Hurmit-Nerd-Font -- /usr/bin/maim -q' '' \
                  --timer 360 \
                    'xset dpms force off' '' \
                  --timer 10800 \
                    'systemctl poweroff' '' \
                  --socket "/tmp/xidlehook.socket"
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
