/* Hide Scrollbars */
scrollbar,
scrollbar button,
scrollbar slider {
	min-width: 0;
	min-height: 0;
	padding: 0;
	margin: 0;
	border: none;
	background: none;
	opacity: 0;
}

/* Hide the Headerbar/Titlebar */
terminal-window headerbar,
terminal-window .titlebar {
	min-height: 0;
	padding: 0;
	margin: 0;
	border: none;
	background: none;
}

/* Remove rounded corners and window decorations */
window.terminal-window decoration {
	border-radius: 0;
	box-shadow: none;
}

/* Transparency for the terminal window background */
terminal-window,
terminal-window notebook,
terminal-window notebook stack {
	background-color: rgba(0, 0, 0, 0.7);
	/* Adjust 0.7 for transparency level */
}
