[Unit]
Description=Mega (rclone)
AssertPathIsDirectory=%h/Mega
# Make sure we have network enabled
After=network.target

[Service]
Type=simple

ExecStart=/usr/bin/rclone mount --vfs-cache-mode full Mega: Mega

# Perform lazy unmount
ExecStop=/usr/bin/fusermount -zu %h/Mega

# Restart the service whenever rclone exists with non-zero exit code
Restart=on-failure
RestartSec=15

[Install]
# Autostart after reboot
WantedBy=default.target
