configuration {
	font: "Liga SFMono Nerd Font 17";
  show-icons: true;
  icon-theme: "Papirus";
  display-run: "";
  display-drun:   "";
  display-combi: "  ";
  display-window: "﩯 ";
  display-ssh:    "";
	kb-remove-char-back: "BackSpace";
	kb-remove-to-eol: "Control+Shift+e";
	kb-accept-entry: "Return";
	kb-mode-next: "Control+Tab,Control+l";
	kb-mode-previous: "Control+Shift+Tab,Control+h";
	kb-mode-complete: "Control+p";
  kb-row-up: "Up,Control+k";
  kb-row-down: "Down,Control+j";
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
  run,drun {
    sort:             true;
    fallback-icon:    "~/linux-setup/miscellaneous/chatGPT/fallback-icon.png";
    sorting-method:   "fzf";
    matching:         "fuzzy";
  }
}

@theme "~/.i3/rofi/styles/main.rasi"
