services:
  redroid:
    image: redroid/redroid:11.0.0_gapps_ndk_magisk_widevine # image created.
    container_name: android
    environment:
      - TZ=Etc/GMT-3
    privileged: true
    tty: true
    ports:
      - 127.0.0.1:5555:5555 # only listen to the localhost port
    stop_grace_period: 2m
    restart: on-failure
    volumes:
      - ./data:/data # The data is stored
    command:
      - androidboot.redroid_width=1600 # 720 # Screen resolution
      - androidboot.redroid_height=1600 # 1280
      - androidboot.redroid_dpi=480 # 320
      - androidboot.redroid_fps=60
      - androidboot.redroid_gpu_mode=host # host = GPU hardware acceleration, guest = software rendering
      - ro.product.cpu.abilist0=x86_64,arm64-v8a,x86,armeabi-v7a,armeabi # Set libndk parameters
      - ro.product.cpu.abilist64=x86_64,arm64-v8a
      - ro.product.cpu.abilist32=x86,armeabi-v7a,armeabi
      - ro.dalvik.vm.isa.arm=x86
      - ro.dalvik.vm.isa.arm64=x86_64
      - ro.enable.native.bridge.exec=1
      - ro.dalvik.vm.native.bridge=libndk_translation.so
      - ro.ndk_translation.version=0.2.2
